.Item {
  list-style-type: none;
  margin: 0;
  padding: 8px 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    margin-right: 8px;
    width: auto;
  }

  span,
  input[type="text"] {
    flex: 1;
  }

  button {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: none;
    margin-left: 8px;
  }
}
