.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px 32px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  h1 {
    margin: 0 16px;
    flex: 1;
  }
  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    float: right;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #eef;
    color: #334;
    font-size: 16px;
    border-radius: 4px;
    padding: 2px 8px;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: #eef;
    }
  }
  span {
    min-width: 60px;
  }
}
