.Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 32px;
  margin: 0;

  form {
    width: 100%;
    display: flex;

    input {
      flex: 1;
      border-radius: 8px 0 0 8px;
      &:focus {
        outline: none;
        border: 1px solid #778;
      }
    }

    button {
      width: 96px;
      border-radius: 0 8px 8px 0;
    }

    button,
    input {
      margin: 0;
      border: 1px solid #aaa;
      padding: 4px 16px;
    }
  }
}
