* {
  font-family: "Handlee", cursive;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 720px;
  background-color: #334;
}

button {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #ccd;
  }
}
